.drop-img,
.drop-pdf {
  min-width: 100%;
  display: block;
  min-height: 200px;
  padding: 30px;
  border: dashed 2px $border-color !important;
  border-radius: $btn-input-radius;
  .upload__image-wrapper {
    font-size: 13px;
    text-align: center;
    button {
      border: none;
      outline: none;
      background-color: transparent;
      margin: 0 5px;
      color: $grad-color;
    }
    .image-item {
      display: inline-block;
      margin: 15px 10px;
    }
    p {
      font-size: 10px;
      .link-button {
        background-color: $main-color;
        color: $white-color;
      }
    }
    .remove-img {
      color: $blue-color;
    }
  }
}
