.link {
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@import "./variables";
@import "./mixin";
@import "./breakpoint";
@import "./upload-img";
@import "./components/homeHeader";
@import "./components/sidebar";
@import "./components/mobileSide";
@import "./components/linksHeader";
@import "./pages/home";
@import "./pages/login";
@import "./pages/analytic";
@import "./pages/messages";
@import "./form-new";
@import "./switchButton";
@import "./pages/appearance";
@import "./pages/links";
@import "./pages/payments";
@import "./components/images";
@import "./pages/view";
@import "./pages/verifyCode";
@import "./components/linksPageHeader";
@import "./components/singleLink";
@import "./components/pdf";
@import "./modal";
@import "./rtl";

.img-upload .img-uploadded {
  width: 40px !important;
  height: 40px;
  object-fit: contain;
  @include mobile {
    width: 20px !important;
    height: 20px;
  }
}

.mobile-loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 100;
  width: 247px;
  height: 477px;
  background-color: #163152;
  position: absolute;
  top: 62px;
  right: 37px;
}

.mobile-loading-box img {
  width: 100px;
}
.social-list-item {
  display: flex;
  align-items: center;
}
.social-list-item-icon {
  background: #8cc8cc;
  border-radius: 7px;
  padding: 7px;
  box-sizing: border-box;
}
.social-list-item-icon img {
  width: 25px;
  height: 25px;
}

.social-list-item .text {
  font-weight: bold;
  margin: 0 10px;
}
@include mobile {
  .social-list-item-icon img {
    width: 15px;
    height: 15px;
  }
  .social-list-item .text {
    font-size: 8px;
  }
}

.theme-style .avatar label {
  height: 150px;
  width: 100px;
  img:nth-of-type(2) {
    width: 100px;
  }
  @include mobile {
    width: 60px;
    height: 110px;
    font-size: 10px;
    img:nth-of-type(2) {
      width: 60px;
    }
  }
}
.location-form {
  .form-control {
    margin: 0 10px 20px;
    input {
      border-radius: 50px;
    }
  }
  button {
    border-radius: 50px;
  }
  @include mobile {
    flex-wrap: wrap;
  }
}

.success-page {
  background: #f5f5f5;
  padding-top: 70px;
  .success-img img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 50px;
    max-height: 200px;
  }

  .success-title {
    text-align: center;
  }
  .success-title h2 {
    color: #000;
    font-weight: bold;
  }
  .success-title p {
  }
  .font-weight-bold {
    color: #000 !important;
    font-size: 16px;
  }

  .success-list {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  .success-page .bg-light {
    background: #fff !important;
  }
  .field-status {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  @media (max-wdith: 700px) {
    .field-status {
      display: inline-block;
      margin-top: 15px;
    }
  }
}
.link-and-icon.imgg {
  margin-right: auto;
}

.info-box {
  position: absolute;
  right: 10px;
  top: 30px;
  padding-top: 27px;
}

.info-box-icon {
  position: absolute;
  right: 0;
  top: -25px;
}

.info-box-icon svg {
  width: 20px;
  height: 20px;
}

.info-box-text {
  display: none;
  padding: 5px;
  font-size: 9px;
  background: #0d97c6;
  color: #fff;
  border-radius: 5px;
  width: 300px;
  max-width: 300px;
  position: absolute;
  bottom: 150%;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);
}

.info-box-text span {
}

.info-box:hover .info-box-text {
  display: block;
}

@media (max-width: 700px) {
  .info-box-text {
    right: 0;
    left: auto;
    transform: translate(0);
  }
}

.locked-content__component .locked-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.locked-content__component .locked-content-header .locked-content-header-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(https://cdn-f.heylink.me/static/media/ic_locked.87def6e8.svg);
  width: 160px;
  height: 70px;
  margin: 0 auto 10px;
}
.locked-content__component .locked-content-header .locked-content-header-text {
  line-height: 1.4;
  text-align: center;
  text-shadow: 1px 1px 2px #fff, 0 0 1em #fff;
  color: #878cac;
}
.locked-content__component
  .locked-content-header
  .locked-content-header-text
  a {
  color: #2975cf;
  text-decoration: underline;
}
.locked-content__component {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  z-index: 2;
}
.locked-content__component .locked-content-wrapper {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  opacity: 0.9;
  pointer-events: none !important;
  touch-action: none !important;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-truc {
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.mobile-device .table-responsive {
  max-height: 500px;
  overflow: scroll;
}

.img-upload-btn img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.btn-save-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.btn-save-box button {
  line-height: 1;
  background: var(--bs-indigo);
}