.link {
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@import "./variables";
@import "./mixin";
@import "./breakpoint";
@import "./upload-img";
@import "./components/homeHeader";
@import "./components/sidebar";
@import "./components/mobileSide";
@import "./components/linksHeader";
@import "./pages/home";
@import "./pages/login";
@import "./pages/analytic";
@import "./pages/messages";
@import "./form-new";
@import "./switchButton";
@import "./pages/appearance";
@import "./pages/links";
@import "./pages/payments";
@import "./components/images";
@import "./pages/view";
@import "./pages/verifyCode";
@import "./components/linksPageHeader";
@import "./components/singleLink";
@import "./components/pdf";
@import "./modal";


