.link {
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@import "./variables";
@import "./mixin";
@import "./breakpoint";
@import "./upload-img";
@import "./components/homeHeader";
@import "./components/sidebar";
@import "./components/mobileSide";
@import "./components/linksHeader";
@import "./pages/home";
@import "./pages/login";
@import "./pages/analytic";
@import "./pages/messages";
@import "./form-new";
@import "./switchButton";
@import "./pages/appearance";
@import "./pages/links";
@import "./pages/payments";
@import "./components/images";
@import "./pages/view";
@import "./pages/verifyCode";
@import "./components/linksPageHeader";
@import "./components/singleLink";
@import "./components/pdf";
@import "./modal";
@import "./rtl";

.img-upload .img-uploadded {
  width: 40px !important;
  height: 40px;
  object-fit: contain;
}

.mobile-loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 100;
  width: 247px;
  height: 477px;
  background-color: #163152;
  position: absolute;
  top: 62px;
  right: 32px;
}

.mobile-loading-box img {
  width: 100px;
}
.social-list-item {
  display: flex;
  align-items: center;
}

.social-list-item-icon img {
  width: 35px;
  height: 35px;
}

.social-list-item .text {
  font-weight: bold;
  margin: 0 10px;
}
@include mobile {
  .social-list-item-icon img {
    width: 15px;
    height: 15px;
  }
  .social-list-item .text {
    font-size: 8px;
  }
}

.theme-style .avatar label {
  height: 150px;
  width: 100px;
  img:nth-of-type(2) {
    width: 100px;
  }
  @include mobile {
    width: 60px;
    height: 110px;
    font-size: 10px;
    img:nth-of-type(2) {
      width: 60px;
    }
  }
}
