.your-links-header,
.your-links-header,
.your-links-header,
.your-links-header {
  font-size: 14px;
  font-weight: 600;
  color: $text-color;
  .icon {
    color: $grad-color;
    margin-left: 5px;
  }
}