.login-content {
  @include flex(center, space-between);
  .left-login-side {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $main-color;
    height: 100%;
    width: 50%;
    @include flex(center, center);
    .logo {
      width: 350px;
    }
    .shap1 {
      position: absolute;
      top: 123px;
      left: 449px;
    }
    .shap2 {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .right-login-side {
    padding: 50px 100px;
    width: 50%;
    margin-left: auto;
    min-height: 100vh;
    @include flex(center, center);
   > div {
      width: 100%;
    }
    .login-head {
      color: $text-color;
      margin-bottom: 30px;
      color: $text-color;
      font-weight: 600;
    }
    
    .other-login {
      text-align: center;
      .other-link {
        @include flex(center, start);
        padding: $btn-input-padding;
        border-radius: $border-color;
        border: 1px solid $border-color;
        width: 100%;
        color: $text-color;
        margin-bottom: 15px;
        .img-link {
          text-align: center;
          width: 30%;
        }
      }
    }
    .not-member{
      text-align: center;
      margin: 15px 0;
      .sign-login{
        color: $text-color;
        font-weight: 600;
      }
    }
  }
}
.login-form {
  font-size: 15px;
  .form-control {
    width: unset;
    .link-input {
      background-color: transparent;
      color: $grad-color;
      border: 1px solid $border-color;
    }
  }
  .remmeber-forget {
    @include flex(center, space-between);
    input {
      margin-right: 10px;
      &:checked {
        background: $blue-color;
      }
    }
    .forget-password {
      color: $main-color;
    }
  }
  .login-btn {
    .link-button {
      width: 100%;
      background-color: $main-color;
      margin: 15px 0;
    }
  }

  .field {
    // color: $text-color;

    margin-bottom: 20px;
    & > * {
      display: block;
    }
    label {
      margin-bottom: 14px;
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      color: $pargh-color;
      padding: $btn-input-padding;
      border-radius: $btn-input-radius;
    }
  }
}
