.payments {
  .p-payment {
    font-size: 13px;
    color: $pargh-color;
  }
  .nav {
    @include flex(center, center);
    .nav-link {
      border-radius: 25px;
      font-size: 15px;
      background-color: $back-color;
      margin-right: 15px;
      &.active {
        background-color: $text-color;
      }
      @include mobile {
        font-size: 11px;
      }
    }
  }
  .packages {
    .nav {
      @include flex(center, center);
      background-color: $back-color;
      width: 330px;
      padding: 12px 0;
      .nav-link {
        border-radius: $btn-input-radius;
        font-size: 13px;
        padding: 12px 0;
        width: 50px;
        margin-right: 10px;
        background-color: $back-color;
        &.active {
          background-color: $white-color;
          color: $text-color;
        }
      }
    }
  }
}
.payment-cards {
  @include flex(center, start);
  .single-pay-card {
    padding: 30px;
    background-color: $white-color;
    border-radius: 30px;
    border: 1px solid $border-color;
    min-height: 340px;
    width: 300px;
    margin-right: 15px;
    text-align: center;
    transition: $transition;
    position: relative;
    .title-card {
      text-transform: uppercase;
      color: $text-color;
      font-weight: 600;
    }
    .price-card {
      color: $main-color;
      font-size: 22px;
      font-weight: 700;
      padding-bottom: 20px;
      border-bottom: 1px solid $border-color;
      span {
        font-size: 10px;
        color: $pargh-color;
        font-weight: 400;
      }
    }
    .list-card {
      margin: 40px 0;
      font-size: 14px;
      .list-card-item {
        margin-bottom: 15px;
        span {
          svg {
            fill: $main-color;
            margin-right: 5px;
          }
        }
      }
    }
    .link-button {
      background-color: $main-color;
      font-size: 14px;
    }
    .the-best {
      font-size: 10px;
      padding: 5px 10px;
      border-radius: 0 6px 6px 0;
      color: $white-color;
      background-color: $text-color;
      position: absolute;
      top: 56px;
      left: 0px;
    }

    &:hover {
      box-shadow: $box-shadow;
    }
  }
  @include mobile {
    display: block;
    .single-pay-card {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
  }
}
input[type="radio"]:checked ~ .check {
  border: 5px solid $main-color;
}

input[type="radio"]:checked ~ .check::before {
  background: $main-color;
}

input[type="radio"]:checked ~ label {
  color: $main-color;
}
// .check::before {
//   display: block;
//   position: absolute;
// 	content: '';
//   border-radius: 100%;
//   height: 15px;
//   width: 15px;
//   top: 5px;
// 	left: 5px;
//   margin: auto;
// }
.pay-card {
  padding: $btn-input-padding;
  border: 1px solid $border-color;
  border-radius: $btn-input-radius;
  margin-bottom: 15px;
  input {
    margin-right: 15px;
  }
  label {
    font-weight: 600;
  }
}
.paypal {
  @include flex(center, space-between);
  p {
    margin: 0;
  }
}
